img {
	width: 40px;
}
button {
	background: none;
	border: none;
	cursor: pointer;
	width: 40px;
	height: 40px;
}
.app {
	position: relative;
}

.line {
	width: 1px;
	height: 100%;
	position: absolute;
	z-index: 1;
	background-color: gray;
	cursor: pointer;
	left: 10px;
}

.main-wrapper {
	/* background-color: blue; */
	position: relative;
	margin-left: 20px;
	margin-top: 15px;
}

.author-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.author-name {
	font-size: medium;
}

.text {
	font-size: 12px;
	margin-left: 40px;
}
